---
---

// Well hello again! Here's what's in this file:
// 1. Imports
// 2. Variables
// 3. Mixins
// 4. Theme overrides (Cayman)
// 5. Custom classes


// 1. IMPORTS

// Imports
@import "{{ site.theme }}";
//@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=PT+Sans&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Yeseva+One&display=swap');@import "fontello.css";
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=PT+Sans&display=swap');
@import "fontello.css";

// 2. VARIABLES

// Headers
$header-bg-color: #da48a2;
$header-bg-color-secondary: #FB4B37;

// Text
$section-headings-color: #2B2C2E;
$body-text-color: #2B2C2E;
$body-link-color: #2B2C2E;
$blockquote-text-color: #EEB709 !default;
$body-font: "PT Sans", Helvetica, Arial, sans-serif;
$heading-font: "Antonio", Helvetica, Arial, sans-serif;

// Borders
$border-color: #E5E5E5;
$hr-border-color: #E5E5E5;

// Custom
$box-shadow-default: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
$gradient: linear-gradient(90deg, #FDF8E8 0%, #F6CFE1 50.5%, #FCC0BC 100%);


// 3. MIXINS

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

@mixin translateY($px) {
  -webkit-transform: translateY($px);
  -moz-transform: translateY($px);
  transform: translateY($px);
}


// 4. THEME OVERRIDES

body {
  font-family: $body-font;
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: $body-text-color;
  background: no-repeat top right url('../img/bg-img.jpg');
  position: relative;
}

a {
  color: $body-link-color;
  &:hover {
    color: $header-bg-color-secondary;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  letter-spacing: -2px;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.5rem;
}
h6 {
  font-size: 2rem;
}

.page-header {
  background: none;
  padding: 5rem 2rem;

  .project-name, .project-tagline {
    max-width: 1000px;
    margin: 1rem auto;
    font-family: $heading-font;
    font-size: 5rem;
    color: $body-text-color;
  }

  .project-tagline {
    font-size: 1.7rem;
    font-family: $body-font;
    letter-spacing: 0;
    color: $body-text-color;
    opacity: 0.85;
    &.small {
      font-size: 1.3rem;
    }
  }
}

.menu {
  padding-left: 0;
  margin: 0 0 2px;

  li {
    display: inline-block;
    list-style-type: none;
    vertical-align: bottom;

    a {
      padding: 1rem;
      font-size: 1.3rem;
      display: inline-block;
      font-family: $heading-font;
      color: $body-text-color;

      [class|="icon"] {
        font-size: 1.4rem;
      }
    }
  }
}

.main-content {
  margin-top: 3rem;

  h1, h2, h3, h4, h5, h6 {
    color: $section-headings-color;
  }

  p img {
    border-radius: 6px;
    box-shadow: $box-shadow-default;
  }

  table {
    display: table;
    font-size: 80%;

    td:first-child {
      width: 140px;
    }
  }

  p a {
    color: $header-bg-color-secondary;
  }
}

.site-footer {
  margin-top: 4rem;
  border-top-color: #E5E5E5;

  .site-footer-credits {
    display: inline-block;
    margin-top: 2rem;
  }
}


// 5. CUSTOM CLASSES

.thumbnail {
  border: 6px solid #fff;
  border-radius: 3px;
  box-shadow: $box-shadow-default;
}

.thumbnail-rounded {
  border-radius: 50%;
}

.highlighted {
  position: relative;
  &::after {
    content: "*";
    color: $header-bg-color-secondary;
  }
}

.link-fancy {
  color: $body-link-color;
  text-decoration: none;
  position: relative;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $header-bg-color-secondary;
    content: '';
    opacity: 0;
    @include transition(height 0.3s, opacity 0.3s, -webkit-transform 0.3s);
    @include translateY(-10px);
  }

  &:hover, &.active {
    text-decoration: none;
    &::after {
      height: 3px;
      opacity: 1;
      @include translateY(0px);
    }
  }
}

.button-fancy {
  padding: 1rem;
  border-radius: 2rem;
  font-family: $heading-font;
  font-size: 1.3rem;
  display: block;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  background: $gradient;
  border: 1px solid $body-text-color;
  box-shadow: $box-shadow-default;
  @include translateY(0px);
  @include transition(opacity, -webkit-transform 0.05s);
  &:hover, &:active {
    @include translateY(1px);
    text-decoration: none;
    box-shadow: none;
    opacity: 0.97;
  }
}

.text-center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.grid-item {
  background-color: #fff;
  padding: 1.5rem;
  border: 12px double #fce1e6;
  border-radius: 50px;
  border-bottom-style: solid;

  img, h3 {
    display: block;
    margin: 1rem auto;
    text-align: center;
  }
}

.profile-img {
  float: left;
  margin-left: 15%;
}

.staticrypt-page {
  border-radius: 20px;
}

.staticrypt-form .staticrypt-decrypt-button {
  text-transform: initial !important;
  background: $header-bg-color-secondary !important;
}

.staticrypt-form .staticrypt-decrypt-button:hover,
.staticrypt-form .staticrypt-decrypt-button:active,
.staticrypt-form .staticrypt-decrypt-button:focus {
  background: $header-bg-color-secondary !important;
}

.staticrypt-content {
  background: $gradient !important;
  font-family: $body-font, sans-serif !important;
}
