---
---

// Well hello again! Here's what's in this file:
// 1. Imports
// 2. Variables
// 3. Mixins
// 4. Theme overrides (Cayman)
// 5. Custom classes


// 1. IMPORTS

// Imports
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "fontello.css";

// 2. VARIABLES

// Headers
//$header-bg-color: #da48a2;
//$header-bg-color-secondary: #FB4B37;

// Text
//$section-headings-color: #2B2C2E;
//$body-text-color: #2B2C2E;
//$body-link-color: #2B2C2E;
//$blockquote-text-color: #EEB709 !default;
//$body-font: "PT Sans", Helvetica, Arial, sans-serif;
//$heading-font: "Antonio", Helvetica, Arial, sans-serif;

// Borders
$border-color: #E5E5E5;

// Custom
$box-shadow-default: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
$gradient: linear-gradient(90deg, #FDF8E8 0%, #F6CFE1 50.5%, #FCC0BC 100%);


// 3. MIXINS

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

@mixin translateY($px) {
  -webkit-transform: translateY($px);
  -moz-transform: translateY($px);
  transform: translateY($px);
}


// 4. THEME OVERRIDES

body {
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.5rem;
}
h6 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.page-header {
  background: none;
  padding: 5rem 2rem;

  .project-name, .project-tagline {
    max-width: 1000px;
    margin: 1rem auto;
    font-size: 5rem;
  }

  .project-tagline {
    font-size: 1.7rem;
    letter-spacing: 0;
    opacity: 0.85;
    &.small {
      font-size: 1.3rem;
    }
  }
}

.main-content {
  max-width: 1000px;
  margin: 1rem auto;

  p img, .img-thumb {
    border-radius: 1rem;
    box-shadow: $box-shadow-default;
  }

  table {
    display: table;
    font-size: 80%;

    td:first-child {
      width: 140px;
    }
  }

  hr {
    overflow: visible; /* For IE */
    padding: 0;
    margin: 3rem 0;
    border: none;
    border-top: medium $border-color;
    color: $border-color;
    text-align: center;
  }
  hr:after {
    content: "• • •";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
  }
}

ul li {
  margin-bottom: 8px;
}

.menu {
  display: grid;
  justify-content: center;

  ul {
    display: flex;
    align-items: center;
    li {
      display: inline-block;
      list-style-type: none;
      vertical-align: bottom;

      a {
        padding: 0.8rem 1.2rem;
        font-size: 1.3rem;
        display: inline-block;
      }
    }
  }
}

.thumb-clickable {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.008);
  }
}

.site-footer {
  margin-top: 4rem;
  border-top-color: #E5E5E5;

  .site-footer-credits {
    display: inline-block;
    margin-top: 2rem;
  }
}


// 5. CUSTOM CLASSES

.thumbnail {
  border: 6px solid #fff;
  border-radius: 3px;
  box-shadow: $box-shadow-default;
}

.thumbnail-rounded {
  border-radius: 50%;
}

.highlighted {
  position: relative;
  &::after {
    content: "*";
  }
}

.link-fancy {
  text-decoration: none;
  position: relative;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    opacity: 0;
    @include transition(height 0.3s, opacity 0.3s, -webkit-transform 0.3s);
    @include translateY(-10px);
  }

  &:hover, &.active {
    text-decoration: none;
    &::after {
      height: 3px;
      opacity: 1;
      @include translateY(0px);
    }
  }
}

.button-fancy {
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  display: block;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  background: $gradient;
  border: 1px solid pink;
  color: pink;
  box-shadow: $box-shadow-default;
  @include translateY(0px);
  @include transition(opacity, -webkit-transform 0.05s);
  &:hover, &:active {
    @include translateY(1px);
    text-decoration: none;
    box-shadow: none;
    opacity: 0.97;
  }
}

.text-center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.grid-item {
  padding: 1.5rem;

  img, h3 {
    display: block;
    margin: 1rem auto;
    text-align: center;
  }
}

// Work examples grid
.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 580px) {
  .work-container, .grid-container {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
  }

  .site-footer .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.work-container > * {
  border-radius: 1.5rem;
}

@media (min-width: 580px) {
  .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .item-2 {
    grid-column-start: 3;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: end;
  }

  .item-4 {
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .item-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: end;
  }

  .item-6 {
    grid-column-start: 3;
    grid-column-end: end;
    grid-row-start: 3;
    grid-row-end: end;
  }
}

// 90s weirdness with basic styles and odd table layouts
.theme-90s {
  background: navy;
  cursor:url(../img/cursor.gif), auto;
  * {
    font-family: "Times New Roman", serif !important;
    border-radius: 0 !important;
    color: white;
  }

  a {
    text-decoration: underline;
  }

  .menu li a.active {
    color: yellow;
  }
}

// Bootstrap-like theme
.theme-00s {
  * {
    font-family: "Open Sans", sans-serif !important;
    border-radius: 4px !important;
  }
  .menu li a.active {
    background: #468CC7;
    color: #fff;
  }
}

// Whatever we call what's in Today. Inter, really.
.theme-20s {
  background: #E5C5D6;

  * {
    font-family: Inter, sans-serif !important;
    color: #261253 !important;
  }
}
