---
---

// Well hello again! Here's what's in this file:
// 1. Imports
// 2. Variables
// 3. Mixins
// 4. Theme overrides (Cayman)
// 5. Custom classes


// 1. IMPORTS

// Imports
@import "{{ site.theme }}";
//@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');
@import "fontello.css";


// 2. VARIABLES

// Headers
$header-bg-color: #da48a2;
$header-bg-color-secondary: #FB4B37;

//linear-gradient(119deg, #f558b5 0%, #fd3c96 9%, #3cf6ed 100%)
//linear-gradient(56.1407deg, rgb(70, 203, 38) 0%, rgb(60, 121, 178) 50%, rgb(215, 89, 98) 100%)

// Text
$section-headings-color: #2B2C2E;
$body-text-color: #2B2C2E;
$body-link-color: #031326;
$blockquote-text-color: #EEB709 !default;
$body-font: "Barlow", Helvetica, Arial, sans-serif;
$heading-font: "Barlow", Helvetica, Arial, sans-serif;

// Borders
$border-color: #E5E5E5;
$hr-border-color: #E5E5E5;

// Custom
$box-shadow-default: 0px 2px 1px 0 rgba(0, 0, 0, 0.15);


// 3. MIXINS

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

@mixin translateY($px) {
  -webkit-transform: translateY($px);
  -moz-transform: translateY($px);
  transform: translateY($px);
}


// 4. THEME OVERRIDES

body {
  font-family: $body-font;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: $body-text-color;
  background: radial-gradient(at bottom left, #f5f5f5, #fff);
}

a {
  color: $body-link-color;
  &:hover {
    text-decoration: underline;
  }
}

.page-header {
  background-image: linear-gradient(45deg, $header-bg-color, $header-bg-color-secondary);
  animation: gradient 15s ease infinite;
  background-size: 300% 100%;
  padding: 5rem 2rem;
  text-shadow: 0 0 16px rgba(0,0,0,0.15);

  .project-name, .project-tagline {
    max-width: 1000px;
    margin: 1rem auto;
  }

  .project-tagline {
    opacity: 0.9;
    font-size: 1.5rem;
    &.small {
      font-size: 1rem;
    }
  }
}

.menu {
  padding-left: 0;
  margin: 0 0 2px;

  li {
    display: inline-block;
    list-style-type: none;
    vertical-align: bottom;

    a {
      padding: 1rem;
      display: inline-block;
      font-weight: 500;

      [class|="icon"] {
        font-size: 1.4rem;
      }
    }
  }
}

.main-content {
  margin-top: 3rem;

  h1, h2, h3, h4, h5, h6 {
    color: $section-headings-color;
    font-family: $heading-font;
    font-weight: 500;
  }

  p img { // markdown weirdness
    border: 6px solid #fff;
    border-radius: 3px;
    box-shadow: $box-shadow-default;
  }

  table {
    display: table;
    font-size: 80%;
    font-weight: bold;

    td:first-child {
      width: 140px;
    }
  }
}

.site-footer {
  margin-top: 4rem;
  border-top-color: #E5E5E5;

  .site-footer-credits {
    display: inline-block;
    margin-top: 2rem;
  }
}


// 5. CUSTOM CLASSES

.thumbnail {
  border: 6px solid #fff;
  border-radius: 3px;
  box-shadow: $box-shadow-default;
}

.thumbnail-rounded {
  border-radius: 50%;
}

.highlighted {
  position: relative;
  &::after {
    content: "*";
    color: #ffff00;
  }
}

.link-fancy {
  color: $body-link-color;
  text-decoration: none;
  position: relative;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $body-link-color;
    content: '';
    opacity: 0;
    @include transition(height 0.3s, opacity 0.3s, -webkit-transform 0.3s);
    @include translateY(-10px);
  }

  &:hover, &.active {
    color: darken($body-link-color, 10%);
    text-decoration: none;
    &::after {
      height: 3px;
      opacity: 1;
      @include translateY(0px);
      background-image: linear-gradient(45deg, $header-bg-color, $header-bg-color-secondary);
      animation: gradient 15s ease infinite;
      background-size: 300% 100%;
    }
  }
}

.button-fancy {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
  color: #fff;
  display: block;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  background-image: linear-gradient(45deg, $header-bg-color, $header-bg-color-secondary);
  animation: gradient 6s ease infinite;
  background-size: 300% 100%;
  box-shadow: $box-shadow-default;
  @include translateY(0px);
  @include transition(opacity, -webkit-transform 0.05s);
  &:hover, &:active {
    @include translateY(1px);
    text-decoration: none;
    box-shadow: none;
    opacity: 0.97;
  }
}

.text-center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  //grid-template-columns: auto auto auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.grid-item {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #f5f5f5;
  box-shadow: $box-shadow-default;
  padding: 1.5rem;
  overflow: hidden;

  img, h3 {
    display: block;
    margin: 1rem auto;
    text-align: center;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}