---
layout: default
---

{{ content }}

<br>
<div class="grid-container">
    {% for trait in site.data.traits %}
    <div class="grid-item">
        <img src="{{ trait.icon }}" />
        <h3>{{ trait.title }}</h3>
        <ul>
            {% for item in trait.list %}
            <li>{{ item.title }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<br>
<br>
<a href="https://www.linkedin.com/in/marstupa/" title="LinkedIn profile" class="button-fancy" target="_blank">View my LinkedIn Profile</a>
