<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google-site-verification" content="IzPGM6Wu4GKbua5PpXYHBZnq2gQ9idyE5ZlEpaLG6mM" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>

{% include navigation.html %}

<header class="page-header" role="banner" id="gradient">

    {% if page.url == "/about/" %}
    <img alt="Profile photo" src="/assets/img/img-profile.png" class="profile-img" />
    {% endif %}
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>

    {% if page.description %}
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
        }}</h2>
    {% endif %}
    {% if page.url == "/" %}
    <p class="project-tagline small"><span class="highlighted"></span> The "j" is silent (:</p>
    {% endif %}
</header>

<main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer text-center">
        {% include social.html %}
    </footer>
</main>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        // Select all theme navigation links
        var themeLinks = document.querySelectorAll('#theme-navigation a');

        // Function to set the theme class on the body
        function setTheme(theme) {
            // Remove existing theme classes from the body
            document.body.classList.forEach(function(className) {
                if (className.startsWith('theme-')) {
                    document.body.classList.remove(className);
                }
            });

            // Add the new theme class to the body
            if (theme) {
                document.body.classList.add(theme);
            }
        }

        // Function to set the active class on the clicked nav item
        function setActiveLink(theme) {
            // Remove active class from all nav items
            themeLinks.forEach(function(link) {
                link.classList.remove('active');
            });

            // Find the link with the matching theme and add the active class
            var activeLink = document.querySelector(`#theme-navigation a[data-theme="${theme}"]`);
            if (activeLink) {
                activeLink.classList.add('active');
            }
        }

        // Check for saved theme in localStorage and apply it
        var savedTheme = localStorage.getItem('selectedTheme');
        if (savedTheme) {
            setTheme(savedTheme);
            setActiveLink(savedTheme);
        }

        // Add event listeners to each link to save the theme on click and set active class
        themeLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();

                var theme = this.getAttribute('data-theme');
                // Set and save the selected theme
                setTheme(theme);
                setActiveLink(theme);
                localStorage.setItem('selectedTheme', theme);
            });
        });
    });

</script>
</body>
</html>