---
layout: default
---
<div class="work-container">
    {% for item in site.data.work %}
    <img src="{{ item.img }}" alt="{{ item.title }}" class="{{ item.class }}" />
    {% endfor %}
</div>

<a href="/projects/" title="Case Studies" class="button-fancy">View my Case Studies</a>
<br>
<br>
<hr>
<br>
{{ content }}

<br>
<div class="grid-container">
    {% for skill in site.data.skills %}
    <div class="grid-item">
        <img src="{{ skill.icon }}" />
        <h3>{{ skill.title }}</h3>
        <ul>
            {% for item in skill.list %}
            <li>{{ item.title }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<br>
<br>
<a href="/about/" title="About me" class="button-fancy">More about me</a>


