---
layout: default
---

    <div id="image-load" style="margin-top: -120px">
        <img src="{{ page.image }}" alt="{{ page.title }}" />
    </div>

    {{ content }}

    <br>
    <hr>

    <h3><span class="icon-heart"></span> Check out my other projects:</h3>
    {% assign sorted = site.projects | sort: 'order' | reverse %}
    <ul>
        {% for project in sorted %}
        <li>
            <a href="{{ project.url }}">{{ project.description }} <span class="icon-right-open-mini"></span> {{ project.title }}</a>
        </li>
        {% endfor %}
    </ul>

<!--    <a href="/projects/" title="All projects" class="link-fancy">Back to all projects</a>-->